name: "Integration test workflow"

on:
  workflow_call:
    inputs:
      main-branch-name:
        required: false
        type: string
        default: main
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      working-directory:
        required: false
        type: string

jobs:
  main:
    runs-on: ${{ inputs.runs-on }}
    name: Run
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
        name: Checkout [Pull Request]
        if: ${{ github.event_name == 'pull_request' }}
        with:
          # By default, PRs will be checked-out based on the Merge Commit, but we want the actual branch HEAD.
          ref: ${{ github.event.pull_request.head.sha }}
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0

      - uses: actions/checkout@v4
        name: Checkout [Default Branch]
        if: ${{ github.event_name != 'pull_request' }}
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: ./
        with:
          main-branch-name: ${{ inputs.main-branch-name }}

      - name: Verify default PR Workflow
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          BASE_SHA=$(echo $(git merge-base origin/${{github.base_ref}} HEAD))
          HEAD_SHA=$(git rev-parse HEAD)
          node -e "if(process.env.NX_BASE == '${BASE_SHA}') console.log('Base set correctly'); else { throw new Error('Base not set correctly!');}"
          node -e "if(process.env.NX_HEAD == '${HEAD_SHA}') console.log('Head set correctly'); else { throw new Error('Head not set correctly!');}"

      - name: Verify default Push Workflow
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          if git merge-base --is-ancestor $NX_BASE HEAD; then
            BASE_SHA=$NX_BASE;
          else
            BASE_SHA="";
          fi
          HEAD_SHA=$(echo $(git rev-parse HEAD))
          node -e "if(process.env.NX_BASE == '${BASE_SHA}') console.log('Base set correctly'); else { throw new Error('Base not set correctly!');}"
          node -e "if(process.env.NX_HEAD == '${HEAD_SHA}') console.log('Head set correctly'); else { throw new Error('Head not set correctly!');}"
